@model WebMasterOk.Models.CodeFirst.Client

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Вы действительно хотите удалить данного сотрудника?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoginClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoginClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PasswordClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstNameClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstNameClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastNameClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastNameClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberTelephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberTelephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернутся назад</a>
    </form>
</div>
