@model IEnumerable<WebMasterOk.Models.CodeFirst.Role>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Список ролей приложения</h1>

<p>
    <a asp-action="Create">Добавить новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TitleRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionRole)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TitleRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionRole)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
            </td>
        </tr>
}
    </tbody>
</table>
