@model IEnumerable<WebMasterOk.Models.CodeFirst.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="navbar">
                <div class="navbar-nav">
                    @foreach (var item in ViewBag.Categories)
                    {
                        <div class="nav-item">
                            <p>@Html.ActionLink(item.TitleCategory, "Index", new { item.Id })</p>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3">
                        <div class="card">
                            @if (item.PathImage != null)
                            {
                                <img class="card-img-top" src="@Url.Action("GetImage", "Home", new { item.Id})" />
                            }
                            <div class="card-body">
                                <h5 class="card-title">@Html.ActionLink(item.TitleProduct, "Details", new { item.Id })</h5>
                                <p class="card-text">@Html.DisplayFor(modelitem => item.DescriptionProduct)</p>
                            </div>
                            <div class="card-footer">
                                @Html.DisplayFor(modelitem => item.Price)
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<span class="navbar navbar"></span>