@using X.PagedList.Mvc.Bootstrap4.Core;
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model IPagedList<WebMasterOk.Models.CodeFirst.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Список товаров</h1>

<p>
    <a asp-action="AddProduct">Добавить товар</a>
</p>

<div class="row">
    <div class="col">
        <form>
            <input type="text" name="searchTitle" value="@ViewData["searchTitle"]" placeholder="Название продукта" />
            <label>Фильтр подкатегорий</label>
            @Html.DropDownList("searchSubCategoryId", ViewBag.SubCategories as SelectList)
            <input type="submit" value="Поиск" />
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Название продукта
            </th>
            <th>
                Описание продукта
            </th>
            <th>
                Стоимость
            </th>
            <th>
                Гарантия
            </th>
            <th>
                Подкатегория
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Warranty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategory.TitleSubCategory)
                </td>
                <td>
                    <a asp-action="EditProduct" asp-route-id="@item.Id">Редактирование</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="container">
    @Html.PagedListPager(Model, page => Url.Action(nameof(Index), new
{
    page = page,
    searchTitle = ViewData["searchTitle"]
}), Bootstrap4PagedListRenderOptions.Default)
</div>
