@model IPagedList<WebMasterOk.Models.CodeFirst.Category>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Bootstrap4.Core;

@{ ViewData["Title"] = "Index"; Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<h1>Список категорий</h1>

<p>
    <a asp-action="AddCategory">Добавить новую</a>
</p>

<div class="row">
    <div class="col">
        <form>
            <input type="text" name="searchCategory" value="@ViewData["searchCategory"]" placeholder="Название категории">
            <input type="submit" value="Поиск" />
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Название категории
            </th>
            <th>
                Описание категории
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionCategory)
                </td>
                <td>
                    <a asp-action="EditCategory" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="container">
    @Html.PagedListPager(Model, page => Url.Action(nameof(Index), new
{
    page = page,
    searchCategory = ViewData["searchCategory"]
}), Bootstrap4PagedListRenderOptions.Default)
</div>