@using X.PagedList.Mvc.Bootstrap4.Core;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<WebMasterOk.Models.CodeFirst.ProductSold>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Список заказов</h1>
<div class="row">
    <div class="col">
        <form>
            <input type="text" name="searchUser" value="@ViewData["searchUser"]" placeholder="ФИО сотрудника">
            <input type="submit" value="Поиск" />
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Дата и время заказа
            </th>
            <th>
                Менеджер
            </th>
            <th>
                Статус заказа
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Staff.FullNameStaff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateOrder)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Подробности</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="container">
    @Html.PagedListPager(Model, page=>Url.Action(nameof(Index), new
{
    page=page,
    searchUser = ViewData["searchUser"]
}), Bootstrap4PagedListRenderOptions.Default)
</div>
